extends layout

block content

	p Gimme your favourite food spots!



	div#form-modal.modal.fade(role='dialog')
		.modal-dialog
			.dialog
				form(id='add-spot', role='form',  data-toggle='validator')
					.form-group
						label(for='name').
							Spot name
						input#name.form-control(name='name', type='text', placeholder='eg. Papa Poulet', data-error='Give it a name.', required)
						div.help-block-with-errors
					
					.form-group
						label(for='description').
							Description
						input#description.form-control(name='description', type='text', placeholder='eg. mazin\' rotisserie chicken, chicken sandwiches, sides, everything chicken.', data-error='Tell people what they can get.', required)
						div.help-block-with-errors

					.form-group
						label(for='mapurl').
							Google Maps URL
						input#mapurl.form-control(name='mapURL', type='text')

					.row
						.col-xs-6
							.form-group
								label(for='tip').
									Inside Tip
								input#tip.form-control(name='tip', type='text', placeholder='eg. The club sandwich is killuh')

						.col-xs-6
							.form-group
								label(for='cost').
									Cost
								input#cost.form-control(name='cost', type='text', placeholder='eg. 8-15')

					button#submit-spot.btn.btn-default(type='submit').
						Submit

	ul#spots-list
		if data
			each spot in data.spots
				li.spot
					include spot