doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width', initial-scale=1, maximum-scale=1, user-scalable='no')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery-2.1.4.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='/javascripts/script.js')
		script(src='/javascripts/validator.min.js')
		script(src='/javascripts/jquery.serialize-object.min.js')

	body
		.container
			.header
				.row
					.col-sm-4
						a(href='/')
							img.logo(src='/images/anomnom_logo-500x250-2x.png', width='250', height='125')
				.row
					.col-sm-4
						button.add-spot-btn.btn.btn-default(type='button', data-toggle='modal', data-target='#form-modal')
							.glyphicon.glyphicon-plus(aria-hidden='true')
							| Add spot

			block content
